<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Marathon</title>
</head>
<body>
Hello
<!--    <form th:action="@{/saveMarathon}" th:object="${marathon}" method="post">-->
<!--        <p>Title: <input type="text" th:field="*{title}"/></p>-->
<!--        <input type="submit" value="Create Marathon"/>-->
<!--        <input type="cancel" value="Cancel">-->
<!--    </form>-->
<!--<form th:action="@{/saveUser}" th:object="${user}" method="post">-->
<!--    <p>Firstname: <input type="text" th:field="*{fisrtName}"/></p>-->
<!--    <p>Lastname: <input type="text" th:field="*{lastName}"/></p>-->
<!--    <p><input type="submit" value="Add user"/></p>-->
<!--</form>-->
</body>
</html>